<div class="btn-group-vertical d-grid m-0 p-0 w-100">
  <button
    type="button"
    class="btn btn-primary rc-0 text-uppercase d-flex justify-content-between"
    routerLink="/about"
  >
    <i class="fa-solid fa-address-card"></i> About
  </button>
  <button
    type="button"
    class="btn btn-primary rc-0 text-uppercase d-flex justify-content-between"
    routerLink="/portfolio"
  >
    <i class="fa-solid fa-cube"></i> Portfolio
  </button>
  <button
    type="button"
    class="btn btn-primary rc-0 text-uppercase d-flex justify-content-between"
    routerLink="/contact-form"
  >
    <i class="fa-solid fa-phone"></i> Contact
  </button>
</div>
<div
  class="border d-flex justify-content-around p-2"
  [ngStyle]="{ 'background-color': '#fff' }"
>
  <div class="github">
    <a href="https://github.com/tomcruzana" target="_blank"
      ><i class="fa-brands fa-github fa-2x"></i
    ></a>
  </div>
  <div class="linkedin">
    <a href="https://dev.to/tommyc" target="_blank"
      ><i class="fa-brands fa-dev fa-2x"></i
    ></a>
  </div>
  <div class="linkedin">
    <a href="https://www.linkedin.com/in/thomascruzana/" target="_blank"
      ><i class="fa-brands fa-linkedin-in fa-2x"></i
    ></a>
  </div>
</div>
