<div class="container my-5">
  <div class="row">
    <div class="col-lg-3 col-m-12">
      <figure class="figure m-0 p-0 rc-0">
        <img
          src="../../../assets/mugshot.jpg"
          class="figure-img img-fluid m-0 p-0"
          alt="my mug shot"
        />
      </figure>
      <div class="btn-group-vertical d-grid m-0 p-0 w-100">
        <button
          type="button"
          class="btn btn-default rc-0 text-uppercase d-flex justify-content-between btn-sample"
        >
          <i class="fa-solid fa-address-card"></i> About
        </button>
        <button
          type="button"
          class="btn btn-default rc-0 text-uppercase d-flex justify-content-between btn-sample"
        >
          <i class="fa-solid fa-cube"></i> Portfolio
        </button>
        <button
          type="button"
          class="btn btn-default rc-0 text-uppercase d-flex justify-content-between btn-sample"
        >
          <i class="fa-solid fa-phone"></i> Contact
        </button>
      </div>
      <div class="border d-flex justify-content-around p-2">
        <div class="github">
          <a href="https://github.com/tomcruzana" target="_blank"
            ><i class="fa-brands fa-github fa-2x"></i
          ></a>
        </div>
        <div class="linkedin">
          <a href="https://dev.to/tommyc" target="_blank"
            ><i class="fa-brands fa-dev fa-2x"></i
          ></a>
        </div>
        <div class="linkedin">
          <a href="https://www.linkedin.com/in/thomascruzana/" target="_blank"
            ><i class="fa-brands fa-linkedin-in fa-2x"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-m-12">
      <!-- full name -->
      <h4 class="font-weight-bold">{{ name | uppercase }}</h4>

      <!-- titles -->
      <div *ngFor="let title of titles">
        <p class="font-weight-bold">{{ title | titlecase }}</p>
      </div>

      <!-- summary -->
      <div class="row">
        <div class="col-lg-12">
          <p class="m-0">
            {{ summary }}
          </p>
        </div>
      </div>
      <!-- links -->
      <!-- <div class="contact-info col-lg-12">
        <div class="row">
          <div class="col-m-12">
            <p class="mr-4">
              <i class="fa-solid fa-mobile-screen-button"></i>
              {{ contactInfo.phone | slice: 0:3 }}-{{
                contactInfo.phone | slice: 3:6
              }}-{{ contactInfo.phone | slice: 5:9 }}
            </p>
          </div>

          <div class="col-m-12">
            <p class="mr-4">
              <i class="fa-solid fa-envelope"></i>
              {{ contactInfo.email }}
            </p>
          </div>

          <div class="col-m-12">
            <p class="mr-4">
              <i class="fa-solid fa-location-dot"></i>
              {{ contactInfo.location.city | titlecase }},
              {{ contactInfo.location.state | titlecase }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-m-12">
            <p class="mr-4 col-m-12">
              <i class="fa-brands fa-github"></i> {{ contactInfo.github }}
            </p>
          </div>
          <div class="col-m-12">
            <p class="mr-4">
              <i class="fa-brands fa-linkedin"></i>
              {{ contactInfo.linkedin }}
            </p>
          </div>
        </div>
      </div> -->
      <app-skills></app-skills>
      <app-experience [experiences]="educationExperiences"></app-experience>
      <app-experience [experiences]="workExperiences"></app-experience>
      <app-download></app-download>
    </div>
  </div>
</div>
