<!-- header start -->
<div class="row border-bottom">
  <p class="text-uppercase font-weight-bold">
    <i class="fa-solid fa-image-portrait"></i> who am i?
  </p>
</div>

<div class="row">
  <!-- full name -->
  <h4 class="font-weight-bold m-0 p-0 col-12">
    {{ name | uppercase }}
  </h4>
  <!-- titles -->
  <div *ngFor="let title of titles">
    <p class="font-weight-bold m-0 p-0 col-12">
      {{ title | titlecase }}
    </p>
  </div>
  <!-- summary -->
  <div class="row mt-3">
    <div class="col-12">
      <p class="m-0 p-0">
        {{ summary }}
      </p>
    </div>
  </div>
</div>
<!-- header end -->
