<div class="container mt-4">
  <div class="row border-bottom">
    <p class="text-uppercase font-weight-bold">
      <i [ngClass]="'fa-solid fa-square-envelope'"></i>
      contact me
    </p>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <form>
        <div class="mb-3">
          <label for="exampleInputName1" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputName1" />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputTextArea" class="form-label">Message</label>
          <textarea
            class="form-control"
            placeholder="Leave your message here"
            id="exampleInputTextArea"
            rows="8"
          ></textarea>
        </div>
        <button
          type="button"
          class="btn btn-primary mb-4"
          (click)="simpleAlert()"
        >
          <i class="fa-solid fa-paper-plane"></i> Submit
        </button>
      </form>
    </div>
  </div>
</div>
