<!--Main title-->
<div class="main-title border-bottom">
  <p class="text-uppercase font-weight-bold">education</p>
</div>

<!--End main title-->

<!--Content-->
<div class="content">
  <!--Block content-->
  <div class="block-content">
    <!--Timeline-->
    <div class="timeline education">
      <!--Row-->
      <div class="row">
        <div class="col-md-12">
          <!--Experience holder-->
          <div class="exp-holder margTop">
            <!--Experience-->
            <div
              class="exp"
              *ngFor="let property of degreeInformation; let i = index"
            >
              <div class="hgroup">
                <img
                  [src]="property.image"
                  class="img-fluid school-thumb"
                  alt="..."
                />
                <p class="font-weight-bold">
                  {{ property.degree }}
                </p>
                <p>{{ property.name }}</p>
                <p><i class="icon-calendar"></i>{{ property.year }}</p>
              </div>
              <p>
                {{ property.description }}
              </p>
            </div>
            <!--End experience-->
          </div>
          <!--End experience holder-->
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End timeline-->
  </div>
  <!--End block content-->
</div>
<!--End content-->
