<div class="container mt-4">
  <div class="row border-bottom">
    <p class="text-uppercase font-weight-bold">
      <i [ngClass]="sectionIcon"></i>
      {{ sectionTitle }}
    </p>
  </div>
  <div class="row" *ngFor="let e of experiences">
    <div class="skill-set p-0 d-flex col-12 mt-4">
      <div class="school-thumb">
        <img
          [src]="e.thumb"
          class="img-thumbnail rounded-circle"
          alt="school photo"
        />
      </div>
      <div class="school-details ml-2">
        <p class="p-0 m-0 font-weight-bold">{{ e.title }}</p>
        <p class="p-0 m-0">{{ e.institution | titlecase }} - {{ e.year }}</p>
      </div>
    </div>
  </div>
</div>
